body {
  background-color: rgba(0, 0, 0, 0.7);
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card__overlay {
  background-color: black;
  opacity: 0;
}

.card__overlay:hover {
  opacity: 0.9;
}

.resume__img {
  display: none;
}

.projects__container {
  display: flex;
  flex-flow: row wrap;
}

.projects__item {
  margin-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(191, 174, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__detail {
  margin-top: 1rem;
  opacity: .7;
}

.contact__detail a {
  color: rgb(191, 174, 206);
}

.contact__line {
  justify-content: center;
}

.contact__messages {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.contact__message {
  margin-top: 1rem;
}

@media only screen and (max-width: 996px) {
  .resume__iframe {
    display: none;
  }
  .resume__img {
    display: block;
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
